* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #010725;
    color: #ffffff;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif; 
}
header{
    display: flex;
    height: 132px;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    color: #ffffff;
    font-family: 'DM Sans', sans-serif; 
    padding: 3vh 5vw 3vh 5vw;
}
.header-container{
    display: flex;
    width: 100%;
    height: 66px; 
    justify-content: space-between;
}
.logo-div {
    display: flex;
    align-items: center;
    width: 154px;
    height: 66px;
}
.logo {
    width: 154px;
    height: 30px;
    gap: 4px;
}
.header-line {
    width: 1px;
    height: 66px;
    background-color: #010D50;
}
.nav-nav{
    display: flex; 
    height: 66px;
    gap: 1.5vw;
}
.nav-navigation-div{
    display: flex;  
    height: 66px;
    align-items: center;
}
.nav-navigation{
    display: flex;
    height: 30px;
    padding: 7px 1px 7px 1px;
    gap: 1.5vw;
    list-style: none;

}
.nav-link{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-align: left;
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif; 
}
.nav-link:hover{
    text-decoration: underline;
}
.contact-us{
    text-decoration: underline;
}
.download-button{
    background-color: #0328EE;
    width: 210px;
    height:fixed 56px;
    border: none;
    border-radius: 80px;
    gap: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.6px;
    text-align: center;
    color: white;
    font-family: 'DM Sans', sans-serif; 
}
.mobile-header{
    display: none;
}
.blue-btn:hover{
    background: #031FB4;
    cursor: pointer;
}
.grey-btn:hover{
    background: #0328EE;
    cursor: pointer;
}
.white-btn:hover{
    background: #031FB4;
    cursor: pointer;
    color: white;
}


.h1-div{
    padding: 80px 100px 0 100px;
}
h1{
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: 121.2%;
    letter-spacing: -1px;
}


.hero2{
    padding-top: 52px;
}
.inner-hero2{
    padding: 0 5vw;
    display: flex;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.hero2-form{
    display: flex;
    width: 364px;
    
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    flex-shrink: 0;
}

.input-class{
    display: flex;
    width: 364px;
    padding: 20.5px 24.995px;
    align-items: flex-start;
    border-radius: 100px;
    border: 1px solid  #010725;
    background: #010D50;
    color: white;
}
.input-message{
    display: flex;
    width: 753px;
  
    color: #ffffff;
    overflow: hidden;
    resize: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
   
}
textarea{
    display: flex; 
    width: 752px;
    height: 162px;
    
    padding: 20.5px 24.995px;
    /* align-items: flex-start; */
    border-radius: 14px;
    border: 1px solid var(--bg, #010725);
    background: var(--dark-blue, #010D50);
    color: #ffffff;
    overflow: hidden;
    resize: none;
    /* vertical-align: text-top; */
    
}

::placeholder{
    color: white;
}
.reach-directly-div{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.reach-directly-details-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.reach-directly-details{
    display: flex;
    align-items: center;
    gap: 15px;
}
.send-message-btn{
    display: inline-flex;
    padding: 27px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 80px;
    background: var(--blue, #0328EE);
    color: #ffffff;
    margin-left: 100px;
    margin-top: 52px;
}





.hero3{
    padding: 7vw 5vw;
}
.hero3-h1-div{
    text-align: center;
    margin-bottom: 80px;
}
.question-div{
    display: flex;
    flex-direction: column;
    padding: 0 10vw 0 10vw;
}
/* .question-class{
    display: flex;
    width: 872px;
    padding: 32px 8px;
    justify-content: space-between;
    align-items: center;
} */
.question-plus-minus{
    display: flex;
    
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
}
.question-div img{
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}
.minus{
    display: none;
}

#text{
    display: none;
}






footer{
    background-color: #010D50;  
}
.footer-every{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
}
.logo-social-div{
    display: flex;
    justify-content: center;
    padding-top: 56px;
    width: 100%;
    height: 36px;
    justify-content: space-between;
}
.social-logo{
    display: flex;
    gap: 12px;
}
.footer-menu{
    display: flex; 
    justify-content: center;
}
.menu-ul{
    margin-top: 96px;
    font-family: 'DM Sans', sans-serif; 
}
.footer-h4{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.8999999761581421px;
    text-align: left;
    border-bottom: 1px solid white;
}
.menu-download-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-ul-div{
    display: flex; 
    width: 280px;
    display: flex;
    justify-content: space-between; 
    margin-top: 35px;
}
.footer-ul{
    list-style: none;
    padding: 0; 
}
.footer-h4{
    padding-bottom: 31px;
}
.footer-download-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 509px;
    height: 284px;
    border-radius: 40px;
    background: #FFFFFF1A;
    color: white;
    margin-top: 92px;
    font-family: 'DM Sans', sans-serif; 
}
.footer-download-inner{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 196px;
    margin-left: 34px;
    
}
.footer-download-h4{
    font-family: 'DM Sans', sans-serif; 
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.8999999761581421px;
    text-align: left;
    margin: 0;
}
.apple-android-footer{
    display: flex;
    width: 411px;
    height: 70px;
    gap: 16px;   
    margin-top: 24px;
    justify-content: space-between; 
}
.footer-download-img-div1{
    display: flex;
    width: 193px;
    height: 70px;
    border-radius: 80px;
    gap: 8px;
    background: #0328EE;
    font-family: 'DM Sans', sans-serif; 
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.600000023841858px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer-download-img-div2{
    display: flex;
    width: 202px;
    height: 70px;
    border-radius: 80px;
    gap: 8px;
    background: #0328EE;
    font-family: 'DM Sans', sans-serif; 
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.600000023841858px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer-line{
    display: flex;
    width: 100%;
    height: 1px;
    background: #FFFFFF4D;
    margin-top: 125px;
}
.all-rights{
    display: flex;
    color: white;
    margin-top: 31px;
    font-family: 'DM Sans', sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
}



@media (max-width: 35rem){
    header{
        display: none;
    }   
    .mobile-header{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .topnav{
        width: 100%;
        height: 73px;
        align-items: center;
        display: flex;
        justify-content: center;

    }
    .header-nav-mobile{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 5vw;
        justify-content: space-between;
    }
    .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 1000px;
        background: #0328EE;
        cursor: pointer;      
    }   
    .menu-items{
        display: none;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        height: 100vh;  
    }
    .menu-drop-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .menu-drop-text{
        text-decoration: none;
        font-family: 'DM Sans', sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 1.399999976158142px;
        text-align: left;
    }
    .menu-items a{
        padding: 5px;
        color: white;
        cursor: pointer;
    }
    .header-download-button {
        width: 300px;
        height: 70px;
        border-radius: 80px;
        gap: 4px;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 1.6px;
        text-align: center;
        background-color: #0328EE;
        border: none;
        color: white;
    }
    #close-menu{
        display: none;
    }




    .h1-div{
        padding: 48px 5vw 0 5vw;
    }
    h1{
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 121.2%;
        letter-spacing: -1px;
    }
    
    
    .hero2{
        padding-top: 40px;
    }
    .inner-hero2{
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 24px;
    }
    .hero2-form{
        display: flex;
        width: 100%;
        
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        flex-shrink: 0;
    }
    
    .input-class{
        display: flex;
        width: 100%;
        padding: 20.5px 24.995px;
        align-items: flex-start;
        border-radius: 100px;
        border: 1px solid  #010725;
        background: #010D50;
        color: white;
    }
    .input-message{
        display: flex;
        width: 100%;
        /* flex-direction: column;
        justify-content: center;
        align-items: flex-start;  */
       
    }
    textarea{
        display: flex; 
        width:100%;
        height: 162px;
        /* line-height: 162px;
        padding: 20.5px 24.995px;
        align-items: flex-start;
        border-radius: 14px;
        border: 1px solid var(--bg, #010725);
        background: var(--dark-blue, #010D50);
        color: #ffffff;
        */
        
    }

    ::placeholder{
        color: white;
    }
    .reach-directly-div{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .reach-directly-details-div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .reach-directly-details{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .send-message-btn{
        display: inline-flex;
        padding: 27px 32px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 80px;
        background: var(--blue, #0328EE);
        color: #ffffff;
        margin-left: 100px;
        margin-top: 52px;
    }


    .hero3{
        padding: 120px 5vw 120px 5vw;
        
    }
    .hero3-h1-div{
        text-align: center;
        margin-bottom: 32px;
    }
    .question-div{
        display: flex;
        flex-direction: column;
        padding: 0;
    }


    .footer-every{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;       
        padding: 0 5vw;
    }
    .logo-social-div{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        align-items: center;
        gap: 24px;
        width: 100%;
    }
    .menu-download-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 45.01px;
    }
    .footer-h4{
        padding-bottom: 31px;
    }
    .menu-ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 32px;
    }
    .footer-ul-div{
        display: flex;
        gap: 121px;
    }
    .footer-ul{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .footer-download-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 342px;
        height: 429px;
        margin-top: 56px;
    }
    .footer-download-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 274px;
        margin: 0;
        height: 341px;
    }
    .apple-android-footer{
        display: block;
        width: 274px;
    }
    .footer-download-img-div1{
        margin-bottom: 16px;
        width: 274px;
    }
    .footer-download-img-div2{
        width: 274px;
    }
    .footer-line{
        margin-top: 32px;
        width: 100%;
    }
    .all-rights{
        margin-top: 32px;
        margin-bottom: 32px;
    }
}